{% extends "KarudevAppsBundle::layout.html.twig" %}
{% block body %}
	<div id="tabs" class="tabs-bottom">
		<ul>
			<li><a href="#tabs-1"><i class="icon-plus-sign"></i> Créer un contact</a></li>
			<li><a id="contact_show" rel="./contact/show-all" href="#tabs-2"><i class="icon-search"></i> Voir ses contacts</a></li>
		</ul>
	<div class="tabs-spacer"></div>
		<div id="tabs-1">
		
			
			<h3>Création d'un nouveau contact</h3>
				<form name="contact_create" action="./contact" method="post" >
					<table>
						<tr>
							<td>Civilité : </td>
							<td>{{ form_widget(form.civilite)}}</td>
						</tr>
						<tr>
							<td>Nom : </td>
							<td>{{ form_widget(form.nom)}}</td>
							<td>Prénom : </td>
							<td>{{ form_widget(form.prenom)}}</td>
						</tr>
						<tr>
							<td>Fonction : </td>
							<td>{{ form_widget(form.fonction)}}</td>
							<td>Service : </td>
							<td>{{ form_widget(form.service)}}</td>
						</tr>
						<tr>
							<td>Tel Pro: </td>
							<td>{{ form_widget(form.telPro)}}</td>
							<td>Portable perso: </td>
							<td>{{ form_widget(form.portablePerso)}}</td>
						</tr>
						<tr>
							<td>Email pro : </td>
							<td>{{ form_widget(form.emailPro)}}</td>
							<td>Email perso : </td>
							<td>{{ form_widget(form.emailPerso)}}</td>
						</tr>
						<tr>
							<td>Fax : </td>
							<td>{{ form_widget(form.fax)}}</td>
						</tr>
						<tr>
							<td>Adresse : </td>
							<td colspan="3">{{ form_widget(form.adresseLigne1,{ 'attr': {'class': 'input-xxlarge'} })}}</td>
						</tr>
						<tr>
							<td></td>
							<td colspan="3">{{ form_widget(form.adresseLigne2,{ 'attr': {'class': 'input-xxlarge'} })}}</td>
						</tr>
						<tr>
							<td></td>
							<td colspan="3">{{ form_widget(form.adresseLigne3,{ 'attr': {'class': 'input-xxlarge'} })}}</td>
						</tr>
						
						<tr>
							<td>Cp : </td>
							<td>{{ form_widget(form.cp)}}</td>
							<td>Ville : </td>
							<td>{{ form_widget(form.ville)}}</td>
						</tr>
						<tr>
							<td>Région : </td>
							<td>{{ form_widget(form.region)}}</td>
							<td>Pays : </td>
							<td>{{ form_widget(form.pays)}}</td>
						</tr>
						<tr>
							<td>Site web : </td>
							<td>{{ form_widget(form.sitePerso) }}</td>
						</tr>
						<tr>
							<td></td>
							<td>
								<button class="btn btn-success" type="submit">Enregistrer</button>
								<button class="btn" type="button">Annuler</button>
							</td>
						</tr>
					</table>
				</form>
			
		
		</div>
		<div id="tabs-2">
               
		</div>
		
	</div>
{% endblock %}
{% block javascripts %}  
<script>
$(function() {
$( "#tabs" ).tabs();
$('#contact_show').loadHtml('#tabs-2','POST',true);

//  Création du contact en ajax
 $('form[name="contact_create"]').submitForm('Contact','contact');
});
</script>
{% endblock %}