    <table class="table table-striped">
    	<thead>
	    	<tr>
	    		<th>ID</th>
	    		<th>Nom</th>
	    		<th>Fonction</th>
	    		<th>Portable</th>
	    		<th>Email pro</th>
	    		<th></th>
	    	</tr>
	    </thead>
	    <tbody>
	    {% for key,contact in contacts %}
	    	<tr>
	    		<td class="voir" >#{{contact.id}}</td>
	    		<td class="voir">{{contact.civilite}} {{contact.prenom}} {{contact.nom}}</td>
	    		<td>{{contact.fonction}}</td>
	    		<td>{{contact.portablePerso}}</td>
	    		<td>{{contact.emailPro}}</td>
	    		<td>
                            <img class="voir" title="Voir"  style="cursor:pointer" src="{{ asset('bundles/karudevapps/images/divers/show.png') }}" />
                            <img title="Supprimer"  style="cursor:pointer" src="{{ asset('bundles/karudevapps/images/divers/delete.png') }}" />
                        </td>
	    	</tr>
                <tr class="details">
                    <td colspan="6">
                     {% render 'KarudevAppsBundle:Contact:show' with{'id': contact.id } %}
                    </td>
                </tr>
	    {% endfor %}	
	    </tbody>
    </table>
    <script>
        // Appliquation du chatiot sur une classe
       $('.voir').chariot('.details');
    </script>
