    <table class="table table-striped">
    	<thead>
	    	<tr>
	    		<th>ID</th>
	    		<th>Nom</th>
	    		<th>Fonction</th>
	    		<th>Portable pro</th>
	    		<th>Email pro</th>
	    		<th></th>
	    	</tr>
	    </thead>
	    <tbody>
	    {% for key,contact in contacts %}
	    	<tr>
	    		<td>#{{contact.id}}</td>
	    		<td>{{contact.civilite}} {{contact.prenom}} {{contact.nom}}</td>
	    		<td>{{contact.fonction}}</td>
	    		<td>{{contact.portablePro}}</td>
	    		<td>{{contact.emailPro}}</td>
	    		<td>
                            <img title="Voir"  style="cursor:pointer" src="{{ asset('bundles/karudevapps/images/divers/show.png') }}" />
                            <img title="Supprimer"  style="cursor:pointer" src="{{ asset('bundles/karudevapps/images/divers/delete.png') }}" />
                        </td>
	    	</tr>
	    {% endfor %}	
	    </tbody>
    </table>