{% extends "KarudevAppsBundle::layout.html.twig" %}
{% block body %}
	<div id="tabs" class="tabs-bottom">
		<ul>
			<li><a href="#tabs-1"><i class="icon-plus-sign"></i> Créer un contrat</a></li>
			<li><a href="#tabs-2"><i class="icon-search"></i> Voir ses contrats</a></li>
		</ul>
	<div class="tabs-spacer"></div>
		<div id="tabs-1">
		
			<section>
			<h3>Création d'un nouveau contrat</h3>
				<form name="contrat" method="post">
					<table>
						<tr>
							<td>Client : </td>
							<td>{{ form_widget(form.idOrganisation) }}</td>
						</tr>
						<tr>
							<td>Responsable du projet : </td>
							<td>{{ form_widget(form.idResponsableClient) }}</td>
						</tr>
						<tr>
							<td>Type de contrat : </td>
							<td>{{ form_widget(form.typeContrat) }}</td>
						</tr>
						<tr>
							<td>Date de début : </td>
							<td>{{ form_widget(form.dateDebut) }}</td>
						</tr>
						<tr>
							<td>Durée : </td>
							<td>{{ form_widget(form.duree) }} Jours</td>
						</tr>
						<tr>
							<td>Horaires : </td>
							<td>{{ form_widget(form.horaires) }}</td>
						</tr>
						<tr>
							<td>Lieu : </td>
							<td>{{ form_widget(form.lieu) }}</td>
						</tr>
						<tr>
							<td>Réunions : </td>
							<td>{{ form_widget(form.periodiciteReunions) }}</td>
						</tr>
						<tr>
							<td>Moyens fournis : </td>
							<td>{{ form_widget(form.moyensFournis) }}</td>
						</tr>
						<tr>
							<td>Prix HT (€) : </td>
							<td>{{ form_widget(form.prixHt) }}</td>
							<td>{{ form_widget(form.unitePrix,{ 'attr': {'class': 'input-small'} })}}</td>
						</tr>
						<tr>
							<td></td>
							<td>
								<button class="btn btn-primary" type="submit">Envoyer</button>
								<button class="btn" type="button">Annuler</button>
							</td>
						</tr>
					</table>
				</form>
			</section>
			<section>
			
			<h3>Contrat type pour prestataire internet et freelance</h3>

<p>Proposés par le bureau d'avocats Derriennic et Associés, spécialisé dans la propriété intellectuelle, voici deux contrats types à utiliser dans le cadre de prestations internet, créations graphiques, développement, rédaction de contenu ou référencement.</p>

<p>La prestation internet étant dans ce contrat définie comme telle : la réalisation de prestations dans le domaine de l’internet et du multimédia nécessitant l'assistance technique du Free Lance, consistant en la réalisation de prestations de nature essentiellement intellectuelles pouvant donner lieu à la création d’images, de textes et/ou de programmes informatiques</p>

<p>Ces deux contrats types constitueront vos conditions générales auxquelles il vous suffira d'ajouter vos annexes incluant : tarifs, délais, conditions particulières...</p>
		
			</section>
		</div>
		<div id="tabs-2">
		{% render 'KarudevAppsBundle:Contrat:show' %}
		</div>
		
	</div>
{% endblock %}
{% block javascripts %}  
<script>
$(function() {
$( "#tabs" ).tabs();
});
</script>
{% endblock %}