    <table class="table table-striped">
    	<thead>
	    	<tr>
	    		<th>ID</th>
	    		<th>Type de contact</th>
	    		<th>Client</th>
	    		<th>Date de début</th>
	    		<th>Durée</th>
	    		<th>Horaires</th>
	    		<th>Prix</th>
	    		<th></th>
	    	</tr>
	    </thead>
	    <tbody>
	    {% for key,contrat in contrats %}
	    	<tr>
	    		<td>#{{contrat.id}}</td>
	    		<td>{{contrat.typeContrat}}</td>
	    		<td>{{contrat.idOrganisation.nom}}</td>
	    		<td>{{contrat.dateDebut}}</td>
	    		<td>{{contrat.duree}} jours</td>
	    		<td>{{contrat.horaires}}</td>
	    		<td>{{contrat.prixHt}} {{contrat.unitePrix}}</td>
	    		<td>
                            <img class="download" id="{{contrat.id}}" title="Télécharger le contrat au format word"  style="cursor:pointer" src="{{ asset('bundles/karudevapps/images/divers/word.png') }}" />
                            <img title="Voir"  style="cursor:pointer" src="{{ asset('bundles/karudevapps/images/divers/show.png') }}" />
                            <img title="Supprimer"  style="cursor:pointer" src="{{ asset('bundles/karudevapps/images/divers/delete.png') }}" />
                        </td>
	    	</tr>
	    {% endfor %}	
	    </tbody>
    </table>

<script>
// EDITION
$(".download").click(function() {
	
	window.open("./contrat/download/"+$(this).attr('id')+"",'',"menubar=no, status=no, scrollbars=no, menubar=no, width=0, height=0")
	
	return false;
	
	});
</script>