<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta content="2 days" name="revisit-after">
	<meta content="Développements Web sur mesure, 
	Karudev propose de prendre en charge vos projets web spécifiques, de faibles ou grandes complexités.
	Freelance Php, Dolyveen Renault développe des appliquations et sites en php,html,jquery et utilise divers frameworks ( SYMFONY2, ZEND )
	afin de gagner en temps, stabilité et sécurité" name="description">
	<meta content="Freelance Php, Développeur web, Php, Symfony2, Zend Framework, Développement Web, Création de site web en guadeloupe, webmaster île de france , developpeur web île de france , freelance , webmaster indépendant , création site internet guadeloupe, web Guadeloupe, référencement guadeloupe, creation site internet guadeloupe, site web guadeloupe, création site internet guadeloupe, internet antilles, internet caraibes, informatique guadeloupe, site internet martinique, referencement martinique, referencement antilles., Guadeloupe, site internet guadeloupe, site web guadeloupe, creation site internet guadeloupe, guadeloupe site internet, internet antilles, referencement guadeloupe, referencement site guadeloupe, referencement site internet guadeloupe, site web guadeloupe , prestashop" name="keywords">
	<meta content="Karudev : Freelance Php, Développeur d'appliquations web Symfony2 / Zend Framework Paris et Dom-Tom" name="Generator">
	<meta content="Renault Dolyveen" name="author">
	<meta content="index, follow" name="robots">
   	<title>{% block title %}Karudev : Développeur Web, PHP, Symfony2, Zend Framework en Freelance - Paris et Dom-Tom{% endblock %}</title>
   	<link rel="shortcut icon" href="{{ asset('favicon.png') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    
   
   
    <!-- Le styles -->
     <link href="{{ asset('bundles/karudevsite/css/base.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('bundles/karudevsite/css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/karudevsite/css/main.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('bundles/karudevsite/css/roundabout.css') }}" type="text/css" rel="stylesheet" />
     {% block stylesheets %}{% endblock %}
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="{{ asset('bundles/karudevsite/css/bootstrap-responsive.css') }}" rel="stylesheet">
    

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
         {% block nav %}
	 	<div class="nav-collapse collapse">
            <ul class="nav">
              <li class="{{classe_home}}"><a href="{{ path('_home') }}"><i class="icon-home"></i> Home</a></li>
              <li class="{{classe_profil}}"><a href="{{ path('_profil') }}">Mon Profil</a></li>
               <li class="{{classe_disponibilite}}"><a href="{{ path('_disponibilite') }}">Disponibilité</a></li>
               <!--<li class="{{classe_devis}}"><a href="#contact">Devis</a></li>-->
                <li class="{{classe_contact}}"><a href="{{ path('_contact') }}">Contact</a></li>
                 <li class=""><a href="{{ path('_apps_enterprise_login') }}"><i class="icon-folder-open"></i> <b><u>Karudev Enterprise</u></b></a></li>
                <!-- <li class="{{classe_espace_client}}"><a class="espace_client"  href="#contact">Espace client</a></li>-->
            </ul>
          </div><!--/.nav-collapse -->
     	{% endblock %}
          
        </div>
      </div>
    </div>

    <div class="container">
 	
	 <header>
	<section>
		<figure class="logo" ></figure>
		<article class="texte">
	{% block header %}


	{% endblock %}
		</article>
		<article class="texture" >

		</article>
	</section>
</header>
      <section class="corps">
	 {% block body %}
	

	
	
     {% endblock %}
     </section>
     

    </div> <!-- /container -->
	{% block footer %}
<footer>
<p>©2009 - 2013 <a href="http://karudev.fr">Karudev.fr</a> , Tous droits réservés | <a href="{{ path('_contact') }}">Contact</a> </p>

<p>Freelance en développement Web
- Siret : 517 620 977 00010 - Naf : 62.01Z
</p>
<p>Paris et Dom-Tom</p>
</footer>
     {% endblock %}
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
 
 		 <script src="{{ asset('bundles/karudevsite/js/jquery-1.7.2.min.js') }}" ></script>
        <script src="{{ asset('bundles/karudevsite/js/jquery.easing.1.3.min.js') }}" ></script>
        <script src="{{ asset('bundles/karudevsite/js/jquery.iphone-slide.min.js') }}" ></script>
         <script src="{{ asset('bundles/karudevsite/js/jquery.roundabout.js') }}" ></script>
          <script src="{{ asset('bundles/karudevsite/js/bootstrap.js') }}" ></script>
         <script>
     

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-29879648-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

        {% block javascripts %}
         {% endblock %}
  </body>
</html>