{% extends "KarudevAppsBundle::layout.html.twig" %}
{% block body %}
	<div id="tabs" class="tabs-bottom">
		<ul>
			<li><a href="#tabs-1">Créer une organisation</a></li>
			<li><a href="#tabs-2">Voir ses organisations</a></li>
		</ul>
	<div class="tabs-spacer"></div>
		<div id="tabs-1">
		
			
			<h3>Création d'une nouvelle organisation</h3>
				<form name="organisation" method="post" >
					<table>
						<tr>
							<td>Nom : </td>
							<td>{{ form_widget(form.nom)}}</td>
						</tr>
						<tr>
							<td>Tel : </td>
							<td>{{ form_widget(form.tel)}}</td>
						</tr>
						<tr>
							<td>Email : </td>
							<td>{{ form_widget(form.email)}}</td>
						</tr>
						<tr>
							<td>Fax : </td>
							<td>{{ form_widget(form.fax)}}</td>
						</tr>
						<tr>
							<td>Adresse : </td>
							<td colspan="3">{{ form_widget(form.adresseLigne1,{ 'attr': {'class': 'input-xxlarge'} })}}</td>
						</tr>
						<tr>
							<td></td>
							<td colspan="3">{{ form_widget(form.adresseLigne2,{ 'attr': {'class': 'input-xxlarge'} })}}</td>
						</tr>
						<tr>
							<td></td>
							<td colspan="3">{{ form_widget(form.adresseLigne3,{ 'attr': {'class': 'input-xxlarge'} })}}</td>
						</tr>
						
						<tr>
							<td>Cp : </td>
							<td>{{ form_widget(form.cp)}}</td>
							<td>Ville : </td>
							<td>{{ form_widget(form.ville)}}</td>
						</tr>
						<tr>
							<td>Région : </td>
							<td>{{ form_widget(form.region)}}</td>
							<td>Pays : </td>
							<td>{{ form_widget(form.pays)}}</td>
						</tr>
						<tr>
							<td>Site web : </td>
							<td>{{ form_widget(form.siteWeb) }}</td>
						</tr>
						<tr>
							<td></td>
							<td>
								<button class="btn btn-primary" type="submit">Envoyer</button>
								<button class="btn" type="button">Annuler</button>
							</td>
						</tr>
					</table>
				</form>
			
		
		</div>
		<div id="tabs-2">
                    {% render 'KarudevAppsBundle:Organisation:show' %}
		</div>
		
	</div>
{% endblock %}
{% block javascripts %}  
<script>
$(function() {
$( "#tabs" ).tabs();
});
</script>
{% endblock %}