{% set  total_unite  =  0 %}
{% set  total_remise  =  0 %}
{% set  total_ttc  =  0 %}
<table style="min-width: 816px;" class="table table-striped">
    <thead>
        <tr>
            <th style="width:248px;">Désignation</th>
            <th style="text-align: right;width:45px;">Unité</th>
            <th style="text-align: right;width:80px;">P.U</th>
            <th style="text-align: right;width:70px;">TVA</th>
            <th style="text-align: right;width:70px;">Remise</th>
            <th style="text-align: right;width:107px;">Montant TTC</th>
            <th></th>
        </tr>
    </thead>
   
             {% for key,insertion in insertions %}
             {% set total_unite = total_unite + insertion.quantity %}
             {% set total_remise = total_remise + insertion.discount %}
             {% set total_ttc = total_ttc + insertion.netUnitPrice %}
   
            <tr>
                <td >{{insertion.designation}}</td>
                <td style="text-align: right;" >{{insertion.quantity}}</td>
                <td style="text-align: right;">{{insertion.grossUnitPrice|number_format('2',',',' ')}} €</td>
                <td style="text-align: right;">{{insertion.tvaRate|number_format('2',',',' ')}} %</td>
                <td style="text-align: right;">{{insertion.discount|number_format('2',',',' ')}} €</td>
                <td style="text-align: right;">{{insertion.netUnitPrice|number_format('2',',',' ')}} €</td>
                <td style="text-align: right;">    
                  {% if serverName == null %}  
                    <img title="Modifier"  style="cursor:pointer" src="{{ asset('bundles/karudevapps/images/divers/edit.png') }}" />
                    <img title="Supprimer"  style="cursor:pointer" src="{{ asset('bundles/karudevapps/images/divers/delete.png') }}" />
                  {% endif %}
                </td>
            </tr>
{% endfor %}
            <tfoot>
            <tr>
                <td>TOTAL</td>
                <td style="text-align: right;">{{total_unite}}</td>
                <td style="text-align: right;"></td>
                <td style="text-align: right;"></td>
                <td style="text-align: right;">{{total_remise|number_format('2',',',' ')}} €</td>
                <td style="text-align: right;">{{total_ttc|number_format('2',',',' ')}} €</td>
                <td ></td>
            </tr>
            </tfoot>
            
</table>
