<section style="max-width: none;" class="insertions">
    <section style="max-width: none;">
        <b><a target="_blank" href="./facture/download/{{facture.id}}">Facture {{facture.name}}</a></b>, <i>Crée le {{facture.dateCreated|date('d/m/Y')}}</i>
        <table  style="width:100%" class="recap">
            <tr>
                <td>Client</td>
                <td>: <b>{{facture.idOrganisation.nom}}</b></td>
                <td>Contact Client</td>
                <td>: {{facture.idClient.prenom}} {{facture.idClient.nom}}</td>
            </tr>
             <tr>
                <td>Tél</td>
                <td>: {{facture.idClient.telPro}} </td>
                <td>Email</td>
                <td>: {{facture.idClient.emailPro}}</td>
            </tr>
            
             <tr>
                <td>Délai de paiement </td>
                <td>: {% if facture.termOfPayment > 0 %} {{facture.termOfPayment}} jours {% endif %}</td>
                <td>Status</td>
                <td>: {{facture.idFactureStatus.libelle}}</td>
            </tr>
            <tr>
                
                <td>Prestataire</td>
                <td>: {{facture.idFreelance.idContact.prenom}} {{facture.idFreelance.idContact.nom}}</td>
            </tr>

        </table>
    </section>
    <section >
        
             {% render 'KarudevAppsBundle:Facture:showinsertions' with {'idFacture': facture.id} %} 
            
    </section>
    {% render 'KarudevAppsBundle:Facture:createdetails' with {'idFacture': facture.id} %}
    <section>
        <button class="btn">Nouvelle insertion</button>
    </section>
</section>