    <table class="table table-striped">
    	<thead>
	    	<tr>
	    		<th>ID</th>
	    		<th>Date de création</th>
	    		<th>Client</th>
	    	
	    		<th></th>
	    	</tr>
	    </thead>
	    <tbody>
	    {% for key,facture in factures %}
	    	<tr>
	    		<td class="voir" >#FA{{facture.name}}</td>
	    		<td >{{facture.dateCreated|date('d/m/Y')}}</td>
	    		<td>{{facture.idClient.prenom}} {{facture.idClient.nom}}</td>
	    		
	    		<td>
                            <img class="voir" title="Voir"  style="cursor:pointer" src="{{ asset('bundles/karudevapps/images/divers/show.png') }}" />
                            <img title="Supprimer"  style="cursor:pointer" src="{{ asset('bundles/karudevapps/images/divers/delete.png') }}" />
                        </td>
	    	</tr>
                <tr class="details">
                    <td colspan="6">
                    
                    </td>
                </tr>
	    {% endfor %}	
	    </tbody>
    </table>
    <script>
        // Appliquation du chatiot sur une classe
       $('.voir').chariot('.details');
    
   

    </script>
