{% extends "::base.html.twig" %}
{% block header %}
<h2>...Conseils et Développements Web sur mesure!</h2>
<p>Karudev propose de prendre en charge vos projets web spécifiques, de faibles ou grandes complexités.<p>
<p><b>Consultant Développeur Web</b>, je développe des applications web et sites en PHP5.x, MYSQL5/ORACLE, HTML5/CSS3, JQUERY et utilise divers frameworks ( SYMFONY2, ZEND )
    afin de gagner en temps, stabilité et sécurité.<p>


{% endblock %}
{% block body %}


<article>

    <section style="margin-top:-10px" >
        <figure ><img style="border: 2px solid #666" src="{{ asset('bundles/karudevsite/images/photos/renault.png') }}" /></figure>
        <h2> ...L'entreprise en quelques mots</h2>
        <p>karudev est une entreprise individuelle crée en 2009, proposant des services de programmation informatique.</p>
        <p>De profil entreprenarial, <b>Dolyveen RENAULT est le Consultant Développeur Web</b> de la structure.</p>
        <p>BTS IRIS en poche, 1 année d'ingénieur effectuée, des années d'expériences aquises avec des projets réussis, je suis prêt à répondre à vos besoins en développement !</p>
    </section>
    <section >
        <h3>Mon Objectif</h3>
        <p>Mener à bien vos projets, instaurer une relation de confiance avec vous. <br/>
            Apporter des solutions techniques en vue d'améliorer votre système d'information.<br/>
        </p>

        <h3>Historique</h3>
        <p>Ayant débuter en 2008  en tant que développeur web (salarié), petit à petit j'ai fais mes preuves dans le métier jusqu'à devenir Chef de projets Web, puis Consultant Développeur Web.</p>
        <p>Par la suite le projet karudev, s'est concrétisé par la volonté de me mettre à mon compte dans le domaine du développement web.</p>
    </section>
</article>
<article>
    <h2>...Développements d'applications web</h2>
    <p>Fort de mon expérience et savoir faire, je peux :</p>
    <ul class="liste" >
        <li>Vous écouter, emmagasiner le maximum d'informations</li>
        <li>Vous conseiller !</li>
        <li>Concevoir un cahier des charges selon l'expression de vos besoins</li>
        <li>Concevoir la structure de votre base de donnée</li>
        <li>Mettre en place un planning de développement</li>
        <li>Développer votre extranet ou intranet</li>
        <li>Développer vos fronts et backs offices</li>
        <li>Développer votre site e-commerce</li>
        <li>Développer tous types d'applications web complexes</li>
    </ul>

    <h2>...Technologies/Langages principalements utilisés</h2>
    <ul class="liste" >
        <li>PHP 5.x</li>
        <li>Java</li>
        <li>Symfony 2.x</li>
        <li>Tests Unitaire</li>
        <li>Zend Framework</li>
        <li>ORM Doctrine 2</li>
        <li>Html5</li>
        <li>Css3</li>
        <li>Xml</li>
        <li>Twig</li>
        <li>Mysql</li>
        <li>Oracle</li>
        <li>Git</li>
        <li>Twitter Bootstrap</li>
        <li>Jquery</li>
        <li>Highcharts</li>
        <li>Responsive Design
            <figure><img src="{{ asset('bundles/karudevsite/images/divers/responsive.jpeg') }}" /></figure>
        </li>

    </ul>

</article>

<div class="span12">
    <h2> ...Ils m'ont fait confiance</h2>
    <div class="row-fluid">
        <div class="span5">
            <figure><a target="_blank" href="http://www.graph-e.com"><img  style="height:30px"  src="{{ asset('bundles/karudevsite/images/logos/graph-e.png') }}" /></a></figure>
            <article>
                <h4>Développeur PHP5/Symfony2</h4>
                <p>Ecriture des Tests Unitaires et fonctionnels basés sur PHPUnit.</p>
                <p>Installation et configuration de Jenkins</p>
                <p>Développement d'une commande Symfony2 permettant de supprimer les versions corrompues des fichiers disponibles sur Aws S3.</p>
                <p>Création et utilisation de diverses API (MailChimp)</p>
                <p>Technologies/Environnement : PHP5/Symfony2, PHPUnit, Console, Linux, Amazon Webservice Storage S3</p>
            </article>
        </div>
        <div class="span5">
            <article>
                <figure><a target="_blank" href="http://www.france.marsh.com"><img  style="height:50px"  src="{{ asset('bundles/karudevsite/images/logos/marsh.jpg') }}" /></a></figure>
                <p>The world's #1 risk spécialist</p>
                <h4>Développeur Spécialisé</h4>
                <p>Finalisation des reports des plans de continuité d'activité basés sur PL/SQL ORACLE</p>
                <p>Technologies/Environnement : ASP/HTML, PL/SQL Oracle, JQUERY.</p>
            </article>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span5">
            <figure><a target="_blank" href="http://www.prismamedia.com"><img  style="height:50px"  src="{{ asset('bundles/karudevsite/images/logos/prisma.jpg') }}" /></a></figure>
            <article>
                <h4>Mission 2 : Chef de projet / Développeur Web</h4>
                <p>Réfonte application Gestion des Litiges. ( refonte en PHP )</p>
                <p>Environnement Technique : Symfony2/PHP5 , JQUERY, DOCTRINE2, PL/SQL ORACLE, HTML5/CSS3.</p>
            </article>
            <article>
                <h4>Mission 1 : Développeur PHP</h4>
                <p>Renforcement / Soutien de l'équipe en place.</p>
                <p>Développements de modules de devis par rapport aux espaces publicitaires réservés sur les différents médias.</p>
                <p>Développement de la fonctionalité d'édition de devis au format pdf en intégrant une pagination en fonction du contenu.</p>
                <p>Développement d'un module de suivi campagne web (timeline).</p>
                <p>Technologies/Environnement : PHP5.4, Xhtml/Css,Zend Db - PL/SQL Oracle, Javascript / Prototype / Twig, Git.</p>
            </article>
        </div>
        <div class="span5">

            <article><figure style="margin-left: 0px" ><img  style="height:50px"  src="{{ asset('bundles/karudevsite/images/logos/harold.png') }}" />
                    <figcaption><a target="_blank" href="http://haroldgene.com">Harold GENE</a>, Directeur Artistique, porteur de projet </figcaption>
                </figure>
                <p>Projet en cours : </p>
                <p><img  style="height:25px"  src="{{ asset('bundles/karudevsite/images/logos/heyvent.png') }}" /> social and events....</p>
                <p><a target="_blank" href="http://d2p.karudev.fr">D2P EVASION (Association Antillaise)</a> :
                <p>Développement site web d'une association organisant des voyages et évènements festifs, comprenant une partie blog, galerie photos et admin.</p>
                <p>Environnement Technique : Symfony2/PHP5 , JQUERY, MYSQL, HTML5/CSS3, responsive design</p></article>

            <article>   <figure><img style="height:50px"  src="{{ asset('bundles/karudevsite/images/logos/yacast.jpg') }}" /></figure>
                <h4>Chef de projets Web / Développeur Web</h4>
                <p>Gestion de projets et développements des sites Muzicast v2 et Clubmonitoring.</p>
                <p>Conception et optimisation des requêtes sql oracle se basant sur certaines tables alimentées par un batch talend.</p>
                <p>Développement du web service Vocapia.</p></article>
        </div>
    </div>
    <div class="row-fluid">

        <div class="span5">
            <figure><img style="height:50px"  src="{{ asset('bundles/karudevsite/images/logos/apsie.jpg') }}" /></figure>
            <h4>Développeur PHP</h4>
            <p>Presta v3 : Application pour l 'APSIE</p>
            <p>- Gestion complète des prestations Pole Emploi pour les conseillers Apsie.</p>
            <p>- Impression des livrables</p>
            <p>Environnement : PHP5 / Symfony2, CRM Egroupware 1.8, Mysql5, Jquery.</p>

        </div>
        <div class="span5">
            <figure><img  style="height:50px"  src="{{ asset('bundles/karudevsite/images/logos/gig.jpg') }}" /></figure>
            <h4>Développeur PHP</h4>
            <p>- Finalisation de l'extranet de GIG INFORMATIQUE programmé en php4.x.</p>
            <p>Cette extranet permet :</p>
            <p>- L'affectation des tâches aux techniciens ( Terminé les Post-it )</p>
            <p>- La saisie des rapports d'interventions des techniciens chez le client. ( ex : Saint-Martin )</p>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span5">
            <figure><img  style="height:50px"  src="{{ asset('bundles/karudevsite/images/logos/tcdugazon.jpg') }}" /></figure>
            <h4>Développeur Web</h4>
            <p>Développement du site internet du club en PHP4.x</p>
            <p>Mise en place de modules comme :</p>
            <p> - L'inscription aux tournois</p>
            <p> - Recherche de partenaire</p>
            <p> - Boutique en ligne</p>
            <p> - Formulaire de contact</p>

        </div>


        <div class="span5">
            <figure><img  style="height:50px"  src="{{ asset('bundles/karudevsite/images/logos/Negocia2com.jpg') }}" /></figure>
            <h4>Développeur Web</h4>
            <p>- Site d'echange de jeux vidéos programmé en PHP5 / Mysql</p>
            <p>Ce site permet d'echanger les jeux vidéos des différentes console en guadeloupe :</p>
            <p>C'est également une plateforme communautaire pour les gamers antillais.</p>

        </div>
    </div>



</div>

{% endblock %}



